In [ ]:
#ln2sqlmodule
import os, sys, getopt
import unicodedata

from Database import Database
from LangConfig import LangConfig
from Parser import Parser
from Thesaurus import Thesaurus
from StopwordFilter import StopwordFilter
import settings

reload(sys)
sys.setdefaultencoding("utf-8")

class color:
    PURPLE = '\033[95m'
    CYAN = '\033[96m'
    DARKCYAN = '\033[36m'
    BLUE = '\033[94m'
    GREEN = '\033[92m'
    YELLOW = '\033[93m'
    RED = '\033[91m'
    BOLD = '\033[1m'
    UNDERLINE = '\033[4m'
    END = '\033[0m'

class ln2sql:
    def __init__(self, database_path, input_sentence, language_path, thesaurus_path, json_output_path):
        database = Database()
        database.load(database_path)
        #database.print_me()

        config = LangConfig()
        config.load(language_path)

        parser = Parser(database, config)

        if thesaurus_path is not None:
            thesaurus = Thesaurus()
            thesaurus.load(thesaurus_path)
            parser.set_thesaurus(thesaurus)

        queries = parser.parse_sentence(input_sentence)

        if json_output_path is not None:
            self.remove_json(json_output_path)
            for query in queries:
                query.print_json(json_output_path)

        if(len(queries) > 1):
            if settings.DEBUG :
                print('--------- queries is more than one')
            self.query = None

            raise Exception('More than one query')
        else :
            self.query = queries[0]

        if settings.DEBUG :
            for query in queries:
                print query

    def getQuery(self):
        return self.query

    def remove_json(self, filename="output.json"):
        if os.path.exists(filename):
            os.remove(filename)

def print_help_message():
    if settings.DEBUG :
        print '\n'
        print 'Usage:'
        print '\tpython ln2sql.py -d <path> -l <path> -i <input-sentence> [-t <path>] [-j <path>]'
        print 'Parameters:'
        print '\t-h\t\t\tprint this help message'
        print '\t-d <path>\t\tpath to SQL dump file'
        print '\t-l <path>\t\tpath to language configuration file'
        print '\t-i <input-sentence>\tinput sentence to parse'
        print '\t-j <path>\t\tpath to JSON output file'
        print '\t-t <path>\t\tpath to thesaurus file'
        print '\n'

def main(argv):
    # try:
    opts, args = getopt.getopt(argv,"d:l:i:t:j:")
    database_path = None
    input_sentence = None
    language_path = None
    thesaurus_path = None
    json_output_path = None

    for i in range(0, len(opts)):
        if opts[i][0] == "-d":
            database_path = opts[i][1]
        elif opts[i][0] == "-l":
            language_path = opts[i][1]
        elif opts[i][0] == "-i":
            input_sentence = opts[i][1]
        elif opts[i][0] == "-j":
            json_output_path = opts[i][1]
        elif opts[i][0] == "-t":
            thesaurus_path = opts[i][1]
        else:
            print_help_message()
            # sys.exit()
            raise getopt.GetoptError('ln2sqlmodule : Invalid args received',None)
    
    if (database_path is None) or (input_sentence is None) or (language_path is None):
        raise getopt.GetoptError('ln2sqlmodule : Invalid args received',None)
    else:
        if thesaurus_path is not None:
            thesaurus_path = str(thesaurus_path)
        if json_output_path is not None:
            json_output_path = str(json_output_path)

    #try:
    ln2sqlObj = ln2sql(str(database_path), str(input_sentence), str(language_path), thesaurus_path, json_output_path)
    
    return ln2sqlObj.getQuery()
    #except Exception, e:
    #    print color.BOLD + color.RED + str(e) + color.END

    # except getopt.GetoptError:
    #     print_help_message()


# if __name__ == '__main__':
#     main(sys.argv[1:])

-- phpMyAdmin SQL Dump
-- version 4.6.6
-- https://www.phpmyadmin.net/
--
-- Host: localhost:3306
-- Generation Time: Oct 23, 2017 at 01:17 AM
-- Server version: 5.6.35
-- PHP Version: 5.6.30

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;

--
-- Database: `heyzot-analytics`
--

-- --------------------------------------------------------

--
-- Table structure for table `city`
--

CREATE TABLE `city` (
  `id` int(11) NOT NULL,
  `cityName` varchar(30) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

--
-- Dumping data for table `city`
--

INSERT INTO `city` (`id`, `cityName`) VALUES
(1, 'pune'),
(2, 'apple'),
(3, 'city c'),
(4, 'city d'),
(5, 'city e');

-- --------------------------------------------------------

--
-- Table structure for table `emp`
--

CREATE TABLE `emp` (
  `id` int(11) NOT NULL,
  `name` varchar(50) NOT NULL,
  `cityId` int(11) NOT NULL,
  `score` int(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

--
-- Dumping data for table `emp`
--

INSERT INTO `emp` (`id`, `name`, `cityId`, `score`) VALUES
(21, 'a', 1, 5),
(22, 'b', 2, 4),
(23, 'c', 3, 6),
(24, 'd', 4, 4),
(25, 'e', 5, 6),
(26, 'g', 1, 2),
(27, 'h', 2, 9),
(28, 'i', 3, 4),
(29, 'j', 4, 3),
(30, 'k', 5, 6);

--
-- Indexes for dumped tables
--

--
-- Indexes for table `city`
--
ALTER TABLE `city`
  ADD PRIMARY KEY (`id`),
  ADD KEY `id` (`id`);

--
-- Indexes for table `emp`
--
ALTER TABLE `emp`
  ADD PRIMARY KEY (`id`),
  ADD KEY `cityId` (`cityId`);

--
-- AUTO_INCREMENT for dumped tables
--

--
-- AUTO_INCREMENT for table `emp`
--
ALTER TABLE `emp`
  MODIFY `id` int(11) NOT NULL AUTO_INCREMENT, AUTO_INCREMENT=31;
--
-- Constraints for dumped tables
--

--
-- Constraints for table `emp`
--
ALTER TABLE `emp`
  ADD CONSTRAINT `emp_ibfk_1` FOREIGN KEY (`cityId`) REFERENCES `city` (`id`);

/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;

In [2]:
import ln2sqlmodule
path_sqlDump = "./emp.sql"

In [3]:
query ="get name of all emp" 
ln2sqlmodule.getSql(query,path_sqlDump)

'SELECT emp.name FROM emp;'

In [4]:
query = 'all data for emp where name is rupinder'
ln2sqlmodule.getSql(query,path_sqlDump)

"SELECT * FROM emp WHERE emp.name = 'rupinder';"

In [5]:
query = 'provide all data for emp'
ln2sqlmodule.getSql(query,path_sqlDump)

'SELECT * FROM emp;'

In [6]:
query = 'provide total count of data for emp'
ln2sqlmodule.getSql(query,path_sqlDump)

'SELECT COUNT(*) FROM emp;'

In [7]:
query = 'what is the emp id for rupinder'
ln2sqlmodule.getSql(query,path_sqlDump)

'SELECT * FROM emp WHERE emp.id = OOV;'

In [22]:
query = 'provide total count of city'
ln2sqlmodule.getSql(query,path_sqlDump)

'SELECT COUNT(*) FROM city;'

In [35]:
query = 'all data for emp where cityId is 1'
ln2sqlmodule.getSql(query,path_sqlDump)

"SELECT * FROM emp WHERE emp.cityId = '1';"

In [38]:
query = 'all data for city where id is 1'
ln2sqlmodule.getSql(query,path_sqlDump)

"SELECT * FROM city WHERE city.id = '1';"

-- phpMyAdmin SQL Dump
-- version 3.3.2
-- http://www.phpmyadmin.net
--
-- Serveur: localhost
-- Généré le : Ven 29 Mars 2013 à 13:31
-- Version du serveur: 5.1.41
-- Version de PHP: 5.3.1

SET SQL_MODE="NO_AUTO_VALUE_ON_ZERO";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;

--
-- Base de données: `hotel`
--

-- --------------------------------------------------------

--
-- Structure de la table `chambre`
--

CREATE TABLE IF NOT EXISTS `chambre` (
  `idChambre` int(11) NOT NULL AUTO_INCREMENT,
  `nbLit` int(11) NOT NULL,
  PRIMARY KEY (`idChambre`)
) ENGINE=MyISAM  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=6 ;

--
-- Contenu de la table `chambre`
--

INSERT INTO `chambre` (`idChambre`, `nbLit`) VALUES
(1, 2),
(2, 2),
(3, 4),
(4, 4),
(5, 5);

-- --------------------------------------------------------

--
-- Structure de la table `client`
--

CREATE TABLE IF NOT EXISTS `client` (
  `idClient` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(20) COLLATE utf8_unicode_ci NOT NULL,
  `prenom` varchar(20) COLLATE utf8_unicode_ci NOT NULL,
  `age` int(11) NOT NULL,
  `adresse` varchar(50) COLLATE utf8_unicode_ci NOT NULL,
  `telephone` varchar(10) COLLATE utf8_unicode_ci NOT NULL,
  PRIMARY KEY (`idClient`)
) ENGINE=MyISAM  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=5 ;

--
-- Contenu de la table `client`
--

INSERT INTO `client` (`idClient`, `nom`, `prenom`, `age`, `adresse`, `telephone`) VALUES
(1, 'TERIEUR', 'Alain', 45, '23 rue de Amar DI', '0456677890'),
(2, 'TERIEUR', 'Alex', 23, '20 allee de Bowie Kend', '0456645891'),
(3, 'PAROLEDOR', 'Carla', 24, 'Salle Eugene, rue Fidele Annamour', '0978357689'),
(4, 'TOULETAN', 'Eugene', 66, '12 avenue du Bob Eau', '0672908767');

-- --------------------------------------------------------

--
-- Structure de la table `reservation`
--

CREATE TABLE IF NOT EXISTS `reservation` (
  `idReservation` int(11) NOT NULL AUTO_INCREMENT,
  `idClient` int(11) NOT NULL,
  `idChambre` int(11) NOT NULL,
  `DateA` date NOT NULL,
  `DateD` date NOT NULL,
  PRIMARY KEY (`idReservation`, `idClient`, `idChambre`)
) ENGINE=MyISAM  DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci AUTO_INCREMENT=3 ;

--
-- Contenu de la table `reservation`
--

INSERT INTO `reservation` (`idReservation`, `idClient`, `idChambre`, `DateA`, `DateD`) VALUES
(1, 1, 1, '2013-03-14', '2013-03-28'),
(2, 3, 4, '2013-03-25', '2013-03-31');

In [39]:
path_sqlDump = "./hotel.sql"

In [40]:
query = 'all data for reservation'
ln2sqlmodule.getSql(query,path_sqlDump)

'SELECT * FROM reservation;'

In [41]:
query = 'all data for reservation where DateA is 2013-03-14'
ln2sqlmodule.getSql(query,path_sqlDump)

"SELECT * FROM reservation WHERE reservation.DateA = '2013-03-14';"

In [42]:
query = 'all data for client where nom is Alex'
ln2sqlmodule.getSql(query,path_sqlDump)

"SELECT * FROM client WHERE client.nom = 'Alex';"