In [2]:
!git clone https://github.com/salesforce/WikiSQL.git

fatal: destination path 'WikiSQL' already exists and is not an empty directory.

In [3]:
cd WikiSQL

/content/WikiSQL

In [4]:
pip install -r requirements.txt

Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 1)) (4.28.1)
Collecting records (from -r requirements.txt (line 2))
  Downloading https://files.pythonhosted.org/packages/ef/93/2467c761ea3729713ab97842a46cc125ad09d14a0a174cb637bee4983911/records-0.5.3-py2.py3-none-any.whl
Requirement already satisfied: babel in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 3)) (2.6.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 4)) (0.8.3)
Collecting openpyxl<2.5.0 (from records->-r requirements.txt (line 2))
  Downloading https://files.pythonhosted.org/packages/77/26/0bd1a39776f53b4f28e5bb1d26b3fcd99068584a7e1ddca4e09c0d5fd592/openpyxl-2.4.11.tar.gz (158kB)
    100% |████████████████████████████████| 163kB 7.8MB/s
Requirement already satisfied: SQLAlchemy; python_version >= "3.0" in /usr/local/lib/python3.6/dist-packages (from records->-r requirements.txt (line 2)) (1.3.2)
Collecting tablib>=0.11.4 (from records->-r requirements.txt (line 2))
  Downloading https://files.pythonhosted.org/packages/7b/c7/cb74031b330cd94f3580926dc707d148b4ba9138449fc9f433cb79e640d8/tablib-0.13.0-py3-none-any.whl (75kB)
    100% |████████████████████████████████| 81kB 27.0MB/s
Requirement already satisfied: docopt in /usr/local/lib/python3.6/dist-packages (from records->-r requirements.txt (line 2)) (0.6.2)
Requirement already satisfied: pytz>=0a in /usr/local/lib/python3.6/dist-packages (from babel->-r requirements.txt (line 3)) (2018.9)
Requirement already satisfied: jdcal in /usr/local/lib/python3.6/dist-packages (from openpyxl<2.5.0->records->-r requirements.txt (line 2)) (1.4)
Requirement already satisfied: et_xmlfile in /usr/local/lib/python3.6/dist-packages (from openpyxl<2.5.0->records->-r requirements.txt (line 2)) (1.0.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from tablib>=0.11.4->records->-r requirements.txt (line 2)) (3.13)
Collecting odfpy (from tablib>=0.11.4->records->-r requirements.txt (line 2))
  Downloading https://files.pythonhosted.org/packages/85/7d/8f6d1f2a4683be362b101c00232b4c3839e4e4a90e0945d8d43ec6aa671d/odfpy-1.4.0.tar.gz (715kB)
    100% |████████████████████████████████| 716kB 22.4MB/s
Requirement already satisfied: xlrd in /usr/local/lib/python3.6/dist-packages (from tablib>=0.11.4->records->-r requirements.txt (line 2)) (1.1.0)
Requirement already satisfied: xlwt in /usr/local/lib/python3.6/dist-packages (from tablib>=0.11.4->records->-r requirements.txt (line 2)) (1.3.0)
Collecting backports.csv (from tablib>=0.11.4->records->-r requirements.txt (line 2))
  Downloading https://files.pythonhosted.org/packages/8e/26/a6bd68f13e0f38fbb643d6e497fc3462be83a0b6c4d43425c78bb51a7291/backports.csv-1.0.7-py2.py3-none-any.whl
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from odfpy->tablib>=0.11.4->records->-r requirements.txt (line 2)) (0.5.0)
Building wheels for collected packages: openpyxl, odfpy
  Building wheel for openpyxl (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/59/44/27/63b211425501ad51d197ff8ed00e9e469e38b9e516cb69b1c2
  Building wheel for odfpy (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/06/2d/19/f5a4eed468fecff295ff8ac49e5dd5fb22d7ffc7ff072deabf
Successfully built openpyxl odfpy
Installing collected packages: openpyxl, odfpy, backports.csv, tablib, records
  Found existing installation: openpyxl 2.5.9
    Uninstalling openpyxl-2.5.9:
      Successfully uninstalled openpyxl-2.5.9
Successfully installed backports.csv-1.0.7 odfpy-1.4.0 openpyxl-2.4.11 records-0.5.3 tablib-0.13.0

In [5]:
!tar xvjf data.tar.bz2

data/
data/train.jsonl
data/test.tables.jsonl
data/test.db
data/dev.tables.jsonl
data/dev.db
data/test.jsonl
data/train.tables.jsonl
data/train.db
data/dev.jsonl

In [0]:
import pandas as pd
import json

In [7]:
!apt-get install jq

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-410
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  libjq1 libonig4
The following NEW packages will be installed:
  jq libjq1 libonig4
0 upgraded, 3 newly installed, 0 to remove and 6 not upgraded.
Need to get 276 kB of archives.
After this operation, 930 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libonig4 amd64 6.7.0-1 [119 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libjq1 amd64 1.5+dfsg-2 [111 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/universe amd64 jq amd64 1.5+dfsg-2 [45.6 kB]
Fetched 276 kB in 1s (329 kB/s)
Selecting previously unselected package libonig4:amd64.
(Reading database ... 131294 files and directories currently installed.)
Preparing to unpack .../libonig4_6.7.0-1_amd64.deb ...
Unpacking libonig4:amd64 (6.7.0-1) ...
Selecting previously unselected package libjq1:amd64.
Preparing to unpack .../libjq1_1.5+dfsg-2_amd64.deb ...
Unpacking libjq1:amd64 (1.5+dfsg-2) ...
Selecting previously unselected package jq.
Preparing to unpack .../jq_1.5+dfsg-2_amd64.deb ...
Unpacking jq (1.5+dfsg-2) ...
Setting up libonig4:amd64 (6.7.0-1) ...
Setting up libjq1:amd64 (1.5+dfsg-2) ...
Processing triggers for libc-bin (2.27-3ubuntu1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Setting up jq (1.5+dfsg-2) ...

In [0]:
!jq -s '.' "./data/train.jsonl" > "./train.json"

In [9]:
ls

annotate.py*  data.tar.bz2  LICENSE           test/
collection/   evaluate.py*  README.md*        train.json
data/         lib/          requirements.txt  version.txt

In [0]:
with open('./train.json') as f:
  df = pd.DataFrame(json.load(f))

In [11]:
df.head()

,phase,question,sql,table_id
0,1,Tell me what the notes are for South Australia,"{'sel': 5, 'conds': [[3, 0, 'SOUTH AUSTRALIA']...",1-1000181-1
1,1,What is the current series where the new serie...,"{'sel': 4, 'conds': [[5, 0, 'New series began ...",1-1000181-1
2,1,What is the format for South Australia?,"{'sel': 2, 'conds': [[0, 0, 'South Australia']...",1-1000181-1
3,1,Name the background colour for the Australian ...,"{'sel': 1, 'conds': [[0, 0, 'Australian Capita...",1-1000181-1
4,1,how many times is the fuel propulsion is cng?,"{'sel': 3, 'conds': [[5, 0, 'CNG']], 'agg': 3}",1-10007452-3

In [12]:
df['question'][0]

'Tell me what the notes are for South Australia '

In [13]:
df['sql'][0]

{'agg': 0, 'conds': [[3, 0, 'SOUTH AUSTRALIA']], 'sel': 5}

In [15]:
df['question'] = df['question'].apply(lambda x : x.lower())
df

,phase,question,sql,table_id
0,1,tell me what the notes are for south australia,"{'sel': 5, 'conds': [[3, 0, 'SOUTH AUSTRALIA']...",1-1000181-1
1,1,what is the current series where the new serie...,"{'sel': 4, 'conds': [[5, 0, 'New series began ...",1-1000181-1
2,1,what is the format for south australia?,"{'sel': 2, 'conds': [[0, 0, 'South Australia']...",1-1000181-1
3,1,name the background colour for the australian ...,"{'sel': 1, 'conds': [[0, 0, 'Australian Capita...",1-1000181-1
4,1,how many times is the fuel propulsion is cng?,"{'sel': 3, 'conds': [[5, 0, 'CNG']], 'agg': 3}",1-10007452-3
5,1,what is the fuel propulsion where the fleet se...,"{'sel': 5, 'conds': [[3, 0, '310-329 (20)']], ...",1-10007452-3
6,1,who is the manufacturer for the order year 1998?,"{'sel': 1, 'conds': [[0, 0, '1998']], 'agg': 0}",1-10007452-3
7,1,how many times is the model ge40lfr?,"{'sel': 1, 'conds': [[2, 0, 'GE40LFR']], 'agg'...",1-10007452-3
8,1,how many times is the fleet series (quantity) ...,"{'sel': 0, 'conds': [[3, 0, '468-473 (6)']], '...",1-10007452-3
9,1,what is the powertrain (engine/transmission) w...,"{'sel': 4, 'conds': [[0, 0, '2000']], 'agg': 0}",1-10007452-3
10,1,what if the description of a ch-47d chinook?,"{'sel': 1, 'conds': [[0, 0, 'CH-47D Chinook']]...",1-10006830-1
11,1,what is the max gross weight of the robinson r...,"{'sel': 2, 'conds': [[0, 0, 'Robinson R-22']],...",1-10006830-1
12,1,what school did player number 6 come from?,"{'sel': 5, 'conds': [[1, 0, '6']], 'agg': 0}",1-10015132-1
13,1,what school did the player that has been in to...,"{'sel': 5, 'conds': [[4, 0, '2012-present']], ...",1-10015132-1
14,1,what school did the player that has been in to...,"{'sel': 5, 'conds': [[4, 0, '2010-2012']], 'ag...",1-10015132-1
15,1,what position did the player from baylor play?,"{'sel': 3, 'conds': [[5, 0, 'Baylor']], 'agg': 0}",1-10015132-1
16,1,who played in the toronto raptors from 1995-96?,"{'sel': 0, 'conds': [[4, 0, '1995-96']], 'agg'...",1-10015132-14
17,1,which number was patrick o'bryant?,"{'sel': 1, 'conds': [[0, 0, 'Patrick O'Bryant'...",1-10015132-14
18,1,what school did patrick o'bryant play for?,"{'sel': 5, 'conds': [[0, 0, 'Patrick O'Bryant'...",1-10015132-14
19,1,how many number does fordham school have?,"{'sel': 1, 'conds': [[5, 0, 'Fordham']], 'agg'...",1-10015132-14
20,1,which school was in toronto in 2001-02?,"{'sel': 5, 'conds': [[4, 0, '2001-02']], 'agg'...",1-10015132-14
21,1,which school did the player that played 2004-0...,"{'sel': 5, 'conds': [[4, 0, '2004-05']], 'agg'...",1-10015132-21
22,1,which position does loren woods play?,"{'sel': 3, 'conds': [[0, 0, 'Loren Woods']], '...",1-10015132-21
23,1,what number is the player that played 1998-2001,"{'sel': 1, 'conds': [[4, 0, '1998-2001']], 'ag...",1-10015132-21
24,1,which country is the player that went to georg...,"{'sel': 2, 'conds': [[5, 0, 'Georgetown']], 'a...",1-10015132-21
25,1,which school did herb williams go to?,"{'sel': 5, 'conds': [[0, 0, 'Herb Williams']],...",1-10015132-21
26,1,when did the player from hawaii play for toronto?,"{'sel': 4, 'conds': [[5, 0, 'Hawaii']], 'agg': 0}",1-10015132-3
27,1,during what period did dell curry play for tor...,"{'sel': 4, 'conds': [[0, 0, 'Dell Curry']], 'a...",1-10015132-3
28,1,what's the number of the player from boise state?,"{'sel': 1, 'conds': [[5, 0, 'Boise State']], '...",1-10015132-3
29,1,what's dell curry nationality?,"{'sel': 2, 'conds': [[0, 0, 'Dell Curry']], 'a...",1-10015132-3
...,...,...,...,...
56325,2,what is the birthplace of pete sanderson?,"{'sel': 3, 'conds': [[2, 0, 'pete sanderson']]...",2-12881774-1
56326,2,what role did jean-luc bouvier serve?,"{'sel': 1, 'conds': [[2, 0, 'jean-luc bouvier'...",2-12881774-1
56327,2,what is the real name of the person who is a p...,"{'sel': 2, 'conds': [[1, 0, 'pilot of the sile...",2-12881774-1
56328,2,what is the code name of the person born in li...,"{'sel': 0, 'conds': [[3, 0, 'liverpool']], 'ag...",2-12881774-1
56329,2,what is the names for the medalist in the spor...,"{'sel': 1, 'conds': [[3, 0, 'canoeing']], 'agg...",2-12817264-1
56330,2,what games had the women's half middleweight e...,"{'sel': 2, 'conds': [[4, 0, 'women's half midd...",2-12817264-1
56331,2,who received the bronze medal in the 2000 sydn...,"{'sel': 1, 'conds': [[0, 0, 'bronze'], [2, 0, ...",2-12817264-1
56332,2,how many people attended when opponent was twins?,"{'sel': 4, 'conds': [[1, 0, 'twins']], 'agg': 3}",2-12206127-5
56333,2,which date has a record of 41-46?,"{'sel': 0, 'conds': [[5, 0, '41-46']], 'agg': 0}",2-12206127-5
56334,2,which score has a record of 48-55?,"{'sel': 2, 'conds': [[5, 0, '48-55']], 'agg': 0}",2-12206127-5
56335,2,which score has a record of 44-49?,"{'sel': 2, 'conds': [[5, 0, '44-49']], 'agg': 0}",2-12206127-5
56336,2,"which score has an attendance larger than 16,5...","{'sel': 2, 'conds': [[4, 1, '16,571'], [3, 0, ...",2-12206356-1
56337,2,"which score has an opponent of white sox, and ...","{'sel': 2, 'conds': [[1, 0, 'white sox'], [5, ...",2-12206356-1
56338,2,how many votes did candice sjostrom receive?,"{'sel': 3, 'conds': [[2, 0, 'candice sjostrom'...",2-1238577-1
56339,2,what percentage did chris wright receive?,"{'sel': 4, 'conds': [[2, 0, 'chris wright']], ...",2-1238577-1
56340,2,"how many votes for the candidate after 1992, 1...","{'sel': 3, 'conds': [[1, 0, 'us representative...",2-1238577-1
56341,2,what years did j. smith young serve as a repre...,"{'sel': 1, 'conds': [[0, 0, 'j. smith young']]...",2-12601321-1
56342,2,which party did thomas l. young belong to?,"{'sel': 3, 'conds': [[0, 0, 'thomas l. young']...",2-12601321-1
56343,2,what is the lowest total amount of medals from...,"{'sel': 5, 'conds': [[2, 0, 0], [4, 1, 2], [3,...",2-13063126-1
56344,2,what is the total number of silver medals for ...,"{'sel': 3, 'conds': [[0, 0, '14'], [5, 2, 1]],...",2-13063126-1
56345,2,how many tackles for the player with over 0 fu...,"{'sel': 2, 'conds': [[5, 1, 0], [4, 0, 0]], 'a...",2-12865696-19
56346,2,how many forced fumbles for jim laney with und...,"{'sel': 4, 'conds': [[1, 2, 2], [0, 0, 'jim la...",2-12865696-19
56347,2,what is the high total for players with over 1...,"{'sel': 2, 'conds': [[1, 1, 15]], 'agg': 1}",2-12865696-19
56348,2,how many fumble recoveries for scott gajos wit...,"{'sel': 5, 'conds': [[3, 0, '0'], [4, 0, 0], [...",2-12865696-19
56349,2,who is the opponent playing at 20:00 gmt at ca...,"{'sel': 3, 'conds': [[1, 0, '20:00 gmt'], [4, ...",2-12200756-16
56350,2,what time was the match played with a score of...,"{'sel': 1, 'conds': [[5, 0, '3-2']], 'agg': 0}",2-12200756-16
56351,2,on which ground did the team play aston villa?,"{'sel': 4, 'conds': [[3, 0, 'aston villa']], '...",2-12200756-16
56352,2,what kind of competition was it at san siro at...,"{'sel': 2, 'conds': [[4, 0, 'san siro'], [1, 0...",2-12200756-16
56353,2,what is the total number of decile for the red...,"{'sel': 5, 'conds': [[0, 0, 'redwood school']]...",2-12214488-1
56354,2,which report includes a circuit of tripoli?,"{'sel': 5, 'conds': [[1, 0, 'tripoli']], 'agg'...",2-12650456-2

In [17]:
import re
df.loc[:,'question']= df.loc[:,'question'].apply(lambda x : re.sub('[^a-zA-z0-9\s]','',x))
df.loc[:,'question'].head()

0      tell me what the notes are for south australia
1    what is the current series where the new serie...
2               what is the format for south australia
3    name the background colour for the australian ...
4         how many times is the fuel propulsion is cng
Name: question, dtype: object

In [18]:
df['question'] = df['question'].apply(lambda x : x.lstrip(' '))
df['question'].head()

0      tell me what the notes are for south australia
1    what is the current series where the new serie...
2               what is the format for south australia
3    name the background colour for the australian ...
4         how many times is the fuel propulsion is cng
Name: question, dtype: object

In [0]:
df.to_csv('WikiSql.csv')

In [20]:
ls

annotate.py*  data.tar.bz2  LICENSE           test/        WikiSql.csv
collection/   evaluate.py*  README.md*        train.json
data/         lib/          requirements.txt  version.txt